In [1]:
from matplotlib import pyplot as plt
from scipy.stats import linregress
from matplotlib import rc
import numpy as np
from sklearn import datasets
import pandas as pd
from sqlalchemy import create_engine

In [2]:
nfl_df = pd.read_csv("Python-API-Project") # Call in csv data from prior project
nfl_df.head()

,Unnamed: 0,Date,Season,Week,Playoff Game,Home Team,Home Final,True Spread,Away Final,Away Team,Favorite,Spread,Over/Under,Total,Spread Outcome,Total Outcome,Spread Range
0,0,9/9/2010,2010,1,False,NO,14,0.0,9,MIN,NO,-5.0,49.5,23,PUSH,UNDER,3-6
1,1,9/12/2010,2010,1,False,BUF,10,2.0,15,MIA,MIA,-3.0,39.0,25,FAV,UNDER,0-3
2,2,9/12/2010,2010,1,False,CHI,19,-1.5,14,DET,CHI,-6.5,45.0,33,DOG,UNDER,6-9
3,3,9/12/2010,2010,1,False,HOU,34,-11.0,24,IND,IND,-1.0,48.0,58,DOG,OVER,0-3
4,4,9/12/2010,2010,1,False,JAX,24,4.0,17,DEN,JAX,-3.0,41.5,41,FAV,UNDER,0-3

In [3]:
# Cut out playoff weeks
nfl_df = nfl_df.loc[nfl_df['Playoff Game'] == False]

# Cut out 2018 season as it doesn't exist in other dataframe
nfl_df = nfl_df.loc[nfl_df['Season'] != 2018]

In [5]:
# create new df with Select Columns
select_nfl = nfl_df[['Season','Home Team', 'Away Team', 'Favorite','Spread Outcome']]

# Check new dataframe to ensure changes
select_nfl.head()

   Season Home Team Away Team Favorite Spread Outcome
0    2010        NO       MIN       NO           PUSH
1    2010       BUF       MIA      MIA            FAV
2    2010       CHI       DET      CHI            DOG
3    2010       HOU       IND      IND            DOG
4    2010       JAX       DEN      JAX            FAV

In [6]:
# Call in superbowl outcome dataframe
superbowl_df = pd.read_csv('./superbowl_outcomes.csv')
superbowl_df

,year,champion,champwinratio,loser,loserwinratio
0,2010,New Orleans Saints,0.813,Indianapolis Colts,0.875
1,2011,Green Bay Packers,0.625,Pittsburgh Steelers,0.750
2,2012,New York Giants,0.563,New England Patriots,0.813
3,2013,Baltimore Ravens,0.625,San Franciso 49ers,0.719
4,2014,Seattle Seahawks,0.813,Denver Broncos,0.813
5,2015,New England Patriots,0.750,Seattle Seahawks,0.750
6,2016,Denver Broncos,0.750,Carolina Panthers,0.938
7,2017,New England Patriots,0.875,Atlanta Falcons,0.688

In [8]:
# Convert the full length names of teams to match the abbreviation in the first dataframe
champion = superbowl_df.replace({'New Orleans Saints':'NO', 'Miami Dolphins':'MIA','Chicago Bears':'CHI',
                                        'Buffalo Bills':'BUF','Houston Texans':'HOU', 'Jacksonville Jaguars':'JAX', 
                                        'New England Patriots':'NE','New York Giants':'NYG','Philadelphia Eagles':'PHI',
                                       'Pittsburgh Steelers':'PIT', 'Seattle Seahawks':'SEA','St. Louis Rams':'LAR',
                                       'Tampa Bay Buccaneers':'TB','Tennessee Titans':'TEN','Washington Redskins':'WAS',
                                       'Kansas City Chiefs':'KC','New York Jets':'NYJ','Atlanta Falcons':'ATL',
                                       'Carolina Panthers':'CAR','Cincinnati Bengals':'CIN','Cleveland Browns':'CLE',
                                       'Dallas Cowboys':'DAL','Denver Broncos':'DEN','Detroit Lions':'DET','Green Bay Packers':
                                       'GB','Indianapolis Colts':'IND','Minnesota Vikings':'MIN','Oakland Raiders':'OAK',
                                       'San Diego Chargers':'LAC','San Francisco 49ers':'SF','San Franciso 49ers':'SF','Arizona Cardinals':'ARI',
                                       'Baltimore Ravens':'BAL','Miami Dolphins':'MIA','Los Angeles Rams':'LAR',
                                       'Los Angeles Chargers':'LAC'})

In [10]:
# Check cleaned Dataframe
edited_df.head()

   year champion  champwinratio loser  loserwinratio
0  2010       NO          0.813   IND          0.875
1  2011       GB          0.625   PIT          0.750
2  2012      NYG          0.563    NE          0.813
3  2013      BAL          0.625    SF          0.719
4  2014      SEA          0.813   DEN          0.813

In [11]:
select_nfl.head()

   Season Home Team Away Team Favorite Spread Outcome
0    2010        NO       MIN       NO           PUSH
1    2010       BUF       MIA      MIA            FAV
2    2010       CHI       DET      CHI            DOG
3    2010       HOU       IND      IND            DOG
4    2010       JAX       DEN      JAX            FAV

In [12]:
# Create engine 
engine = create_engine('postgresql://postgres:gennaro-91@localhost:5432/WebScrapingDB')
print(engine)

Engine(postgresql://postgres:***@localhost:5432/WebScrapingDB)

In [ ]:
# create tables
select_nfl.to_sql('nfl_data', con=engine)

In [ ]:
edited_df.to_sql('superbowl_data',con=engine)

In [13]:
# Create new table with additional columns previously left out.
select_nfl.to_sql('spread_data', con=engine)

In [14]:
# Check for tables
engine.table_names()

['nfl_data', 'superbowl_data', 'spread_data']